<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="main-nav">
					<a href="/" class="logo"><img src="static/images/logo.png" /></a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="#features">About</a></li>
						<li><a href="/search">Search Tweets</a></li>
						<li><a href="/map">Electoral Map</a></li>
					</ul>
					<a class="menu-trigger">
						<span>Menu</span>
					</a>
				</nav>
			</div>
		</div>
	</div>
</header>
