{% extends 'layout.html' %} {% block body %}
<header class="jumbotron my-4" style="text-align: center; margin-top: 0">
	<h1 class="display-3">Searchify</h1>
	<p class="lead">
		Find out about Twitter US Presedential Elections tweets and their analysis
	</p>
	<a
		href="https://en.wikipedia.org/wiki/2020_United_States_presidential_election"
		class="btn btn-primary btn-lg"
		>Explore more description</a
	>
</header>
<div class="container" style="text-align: center">
	<section>
		<div class="row">
			<div class="col">
				<img
					class="card-img-top"
					src="{{url_for('static', filename='election.jpg')}}"
					alt="100%x180"
					style="height: 100%; border-radius: 50%"
				/>
			</div>
			<div class="col">
				<div class="card h-300" style="height: 100%">
					<div class="card-header" style="padding: 2%">
						<h3 class="card-title">Search Tweets</h3>
					</div>
					<div class="card-body">
						<div
							class="card-body align-items-center d-flex justify-content-center"
						>
							<p style="font-size: large">
								Search for tweets offered by Twitter
							</p>
						</div>
					</div>
					<div class="card-footer">
						<a href="/search" class="btn btn-primary">Search</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col">
				<img
					class="card-img-top"
					src="https://upload.wikimedia.org/wikipedia/commons/a/a5/World_Population.svg"
					alt="100%x180"
					style="height: 100%; border-radius: 50%"
				/>
			</div>
			<div class="col">
				<div class="card h-300" style="height: 100%">
					<div class="card-header" style="padding: 2%">
						<h3 class="card-title">Get the map</h3>
					</div>
					<div class="card-body">
						<div
							class="card-body align-items-center d-flex justify-content-center"
						>
							<p style="font-size: large">
								Find out about the scenario in the different countries displayed
								on a map.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<a href="/geospatial_search" class="btn btn-primary"
							>Find Out More!</a
						>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr />
	<hr />
</div>
{% endblock %}
