{% extends 'layout.html' %} {% block body %}
<header class="jumbotron my-4" style="text-align: center; margin-top: 0">
	<h1 class="display-3">Searchify</h1>
	<form class="mt-5" name="search" action="/search_results">
		<div class="col-6 mx-auto input-group">
			<input
				type="text"
				class="form-control"
				name="search"
				placeholder="search..."
			/>
			<button type="submit" class="btn btn-primary">Search</button>
		</div>

</header>
<h3 style="text-align: center;color: #1abc9c;">Top Tweets according to most number of retweets</h3><br>
{% endblock %}
